/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

/* ================= NAVBAR ================= */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#222;
    padding:20px 40px;
}

.logo{
    color:white;
    font-size:28px;
    font-weight:bold;
}

.menu{
    display:flex;
    gap:30px;
    list-style:none;
}

.menu a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.menu a:hover{
    color:gold;
    transform:scale(1.1);
}

/* ================= HERO ================= */

.hero{

    height:100vh;

    background-image:url("https://media.istockphoto.com/id/1960974311/vi/anh/nhi%E1%BB%81u-s%E1%BA%A3n-ph%E1%BA%A9m-kh%C3%A1c-nhau-tr%C3%AAn-b%C3%A0n-tr%E1%BA%AFng-n%E1%BA%B1m-ph%E1%BA%B3ng-ngu%E1%BB%93n-serotonin-t%E1%BB%B1-nhi%C3%AAn.jpg?s=612x612&w=0&k=20&c=QZ5WAQftCHURTjDisA4H79qf-UWW3MtuzqanCO330Rg=");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    color:white;
}

.hero-content{
    background:rgba(0,0,0,0.4);
    padding:30px;
    border-radius:10px;
}

.hero h1{
    font-size:55px;
}

.hero p{
    margin-top:15px;
    font-size:22px;
}

/* ================= PRODUCTS ================= */

.products{

    padding:60px 40px;

    text-align:center;

}

.products h2{

    margin-bottom:40px;

    font-size:35px;

}

.product-list{

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

}

.card{

    width:300px;

    border:1px solid #ddd;

    border-radius:12px;

    overflow:hidden;

    transition:0.3s;

}

.card img{

    width:100%;

    height:220px;

    object-fit:cover;

}

.card h3{

    margin:15px 0;

}

.card p{

    margin-bottom:20px;

    color:red;

    font-size:20px;

}

.card:hover{

    transform:translateY(-10px);

    box-shadow:0 8px 20px rgba(0,0,0,0.3);

}

/* ================= FOOTER ================= */

footer{

    background:#222;

    color:white;

    text-align:center;

    padding:40px 20px;

}

.social{

    display:flex;

    justify-content:center;

    gap:25px;

    margin:20px 0;

}

.social a{

    color:white;

    text-decoration:none;

    transition:0.3s;

}

.social a:hover{

    color:gold;

}

/* ================= RESPONSIVE ================= */

@media(max-width:768px){

    nav{

        flex-direction:column;

        align-items:center;

    }

    .menu{

        flex-direction:column;

        align-items:center;

        margin-top:20px;

    }

    .hero h1{

        font-size:40px;

    }

    .card{

        width:90%;

    }

    .social{

        flex-direction:column;

        align-items:center;

    }

}